@use "../../scss/colors";

.urlResult {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 25px;
    margin-bottom: 20px;
    background-color: colors.$off_white;
    border-radius: 3px;

    .number {
        margin-right: 80px;
    }
}
