@use "../../scss/colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.heroTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 145%;
    margin-top: 65px;
    margin-bottom: 10px;
}

.heroDescription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 133%;
    margin-top: 10px;
    margin-bottom: 35px;
}

.homeWrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 10%;
}

.inputContainerHome {
    display: flex;
    height: 48px;
    font-family: Poppins;
    width: 100%;

    input {
        border: 1px solid colors.$grey_stroke;
        border-radius: 3px;
        // width: 350px;
        padding: 15px 20px;
        margin-bottom: 0px;
        font-size: 17px;
        flex: 5;
        &:focus {
            outline: none;
        }
    }

    button {
        flex: 1;
        margin-left: 10px;
    }
}
.button {
    height: 48px;
    border: none;
    border-radius: 2px;
    color: colors.$white;
    background-color: colors.$primary;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;

    &:hover {
        background-color: colors.$primary_hover;
    }
}

.homeWrapperContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
