@use "../../scss/colors";

.passed,
.failed {
    display: flex;
    align-items: center;
    justify-content: end;

    .checkIcon {
        margin-left: 20px;
        width: 18px;
        height: 18px;
    }
}

.passed {
    color: colors.$safe_link;
}
.failed {
    color: colors.$unsafe_link;
}
