@use "../../scss/colors";

.navBar {
    display: flex;
    padding: 0 150px;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;

    .logoLink {
        text-decoration: none;
    }

    .rightSide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;

        .link {
            text-decoration: none;
            color: colors.$black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .rightSideUser {
        display: flex;
        align-items: center;

        span {
            margin-right: 30px;
        }

        .avatar {
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            padding-top: 7px;
            margin-left: -25px;
            min-width: 40px;
            z-index: 1;
        }

        .dropdown-content button {
            cursor: pointer;
            border: 1px solid colors.$grey_stroke;
            border-radius: 3px;
            color: black;
            background-color: colors.$white;
            padding: 5px 10px;
            text-decoration: none;
            min-width: 90px;
            display: block;

            &:hover {
                color: white;
                background-color: colors.$primary_hover;
            }
        }

        .dropdown:hover .dropdown-content {
            display: flex;
        }
    }
    .button {
        height: 48px;
        border: none;
        border-radius: 2px;
        color: colors.$white;
        background-color: colors.$primary;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: 0 15px;

        &:hover {
            background-color: colors.$primary_hover;
        }
    }
}
