$primary: #0052ff;
$primary_hover: #004beb;
$light_blue: #2196f3;
$dark_blue: #1d1e60;
$black: #0a0b0d;
$grey_stroke: #dfe1e6;
$safe_link: #03c04a;
$unsafe_link: #e10000;
$grey: #97a3b9;
$white: #fefefe;
$light_brown: #dccece;
$dark_brown: #867f7f;
